@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --tag-color: rgb(175, 175, 175);
    --icon-color: rgb(110, 110, 110);
    --primary-color:rgb(0, 60, 255);
    --secondary-color: rgb(0, 255, 179);
    --white-color: #fff;
}
.App {
    width: 100%;
    height: auto;
    display: flex;
}
.ewan {
    width: 82%;
    height: 100vh;
    text-align: center;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}
.login-wrapper {
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.login-wrapper .photo {
    width: 50%;
    height: 100%;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.login-form {
    align-self: self-start;
    padding: 2rem;
    width: 50%;
}
.input-field {
    position: relative;
    margin-top: 2rem;
    width: 100%;
}
.input-field .Input {
    width: 100%;
    height: 100%;
    padding: 4px;
    border:  1px solid rgb(223, 223, 223);
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 8px;
    transition: 0.3s;
}
.input-field .Input:focus-within {
    border-color: var(--primary-color);
    transition: 0.3s;
}
.input-field span {
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 0rem 4px;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    color: rgb(182, 182, 182);
}
.input-field span a {
    color: red;
    font-size: 16px;
}
.Input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Input input {
    width: 90%;
    height: 100%;
    padding: 6px 0px;
    border: none;
    outline: none;
}
.Input input[type='password'] {
    font-weight: 600;
}
.login-form h1 {
    font-size: 20px;
    font-weight: 700;
}
.login-form p {
    font-size: 13px;
    margin-top: .4rem;
    color: gray;
    font-weight: 600;
}
.login-form p a {
    color: var(--primary-color);
    cursor: pointer;
}
.login-form h4 {
    margin-top: 2.5rem;
    font-size: 19px;
    font-weight: 600;
}
form {
    margin-bottom: 1rem;
}
.remember {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.remember div a {
    font-size: 13px;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.remember div a:hover {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}
.for-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.for-checkbox div {
    font-size: 14px;
}
.login-form button {
    width: 100%;
    padding: 8px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}
.login-form button a {
    color: #fff;
}
.login-form button:hover {
    background-color: var(--secondary-color);
    transition: 0.3s;
}
.liners {
    width: 100%;
    height: 1px;
    background-color: rgb(221, 221, 221);
    margin-top: 2rem;
    position: relative;
}
.liners::after {
    content: 'OR';
    position: absolute;
    top: -13px;
    left: 42%;
    background-color: #fff;
    padding: 4px;
}
.icons-social {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.icons-social div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    border-radius: 4px;
    cursor: pointer;
}
.icons-social div svg {
    fill: black;
}
.format {
    margin: 2rem 0rem 1rem 0rem;
}
.format .input-field {
    margin-top: 1rem;
}
.format .input-field .Input {
    padding: 4px;
}
.input-field span {
    bottom: 30px;
}
.for-checkbox div span {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.liners2 {
    width: 100%;
    height: 1px;
    background-color: rgb(221, 221, 221);
    position: relative;
    margin-top: 1.3rem;
}
.liners2::after {
    content: 'OR';
    position: absolute;
    top: -13px;
    left: 42%;
    background-color: #fff;
    padding: 4px;
}
.login-form2 {
    align-self: center;
    padding: 2rem;
    width: 50%;
}
.login-form2 h1 {
    font-size: 20px;
}
.login-form2 p {
    font-size: 13px;
    margin-top: .4rem;
    color: gray;
    font-weight: 600;
}
.btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.btn button {
    width: 100%;
    padding: 8px;
}
.btn1 {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    transition: 0.3s;
}
.btn1:hover {
    background-color: var(--secondary-color);
    transition: 0.3s;
}
.btn2 {
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    transition: 0.3s;
}
.btn2:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .ewan {
        width: 100%;
    }
}